[submodule "cpp/3rdparty/googletest"]
	path = cpp/3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "cpp/3rdparty/cubature"]
	path = cpp/3rdparty/cubature
	url = https://github.com/stevengj/cubature.git
[submodule "cpp/3rdparty/math"]
	path = cpp/3rdparty/math
	url = https://github.com/boostorg/math
[submodule "cpp/3rdparty/cache"]
	path = cpp/3rdparty/cache
	url = https://github.com/MaxCharlington/Cache
	branch = main
[submodule "cpp/3rdparty/tracker"]
	path = cpp/3rdparty/tracker
	url = https://github.com/MaxCharlington/StaticLocalTracker.git
[submodule "cpp/3rdparty/threads"]
	path = cpp/3rdparty/threads
	url = https://github.com/MaxCharlington/ThreadPool.git
